{{define "index" }}
{{ template "header" }}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>heykamikaze</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://getbootstrap.com/docs/5.2/examples/cover/cover.css">
  <link rel="stylesheet" href="static/css/main.css">
</head>
<body>
  <body class="d-flex h-100 text-center text-white bg-dark">



<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

  <header class="masterhead mb-auto">
    <div class="inner">
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link fw-bold active" aria-current="page" href="#">Main </a>
        <a class="nav-link fw-bold" href="#">About</a>
        <a class="nav-link fw-bold" href="/contacts/">Contacts</a>
        <a class="nav-link fw-bold" href="/checkpass/">Disgusting Jokes Club</a>
      </nav>
    </div>
  </header>
  <main role="main" class="inner cover">
    <h1 class="cover-heading"></h1>
    <h1 class="cover-heading">I've been waiting for you, Hashirama!</h1>
    <p class="lead">@amatilda, прости, я и впрямь, видно, что-то попутал
Увлёкся этими мечтами всего на минуту</br>
В голову стрельнул успех, и я с чего-то вдруг решил</br>
Что искусство - это общий дом для нас всех</br>
<br>Прости, я думал, можно просто начать читать рэп</br>
<br>Никогда не был в таком глубоком заблуждении</br>
<br>Рыжего уёбка никто не предупредил</br>
<br>Что слово "рэпер" должно быть в свидетельстве о рождении</br>
<br>@tfelwood, прости, я был не прав все эти годы:</br>
<br>Твой Makefile может не нравиться только долбоёбу</br>
<br>Не напишу я push_swap_bonus.c в своей жалкой жизни</br>
<br>Хочешь, приходи и еще разок меня отпизди</br>
<br>Не был в Яндекс Школе, не благословил Хирьянов</br>
<br>Я не внёс в opensource вклад, сделав git commit -m "" 20 лямов</br>
<br>slack-cheat-bot может не объявлять награды за наши головы</br>
<br>Мы сами придем и смиренно опустим в пол их</br>
<br>Прости меня, @amatilda, я понял, я - не артист</br>
<br>Тронув вашу игру, видимо, я был неправ</br>
<br>Не сможет мне запретить</br>
Делать то, что люблю</br>
<br>ft_printf 9 раз пересдавать</br></p>

      <p class:="lead">
        <a href="#" class="btn btn-lg btn-secondary">Хорошо, понятно</a>
    </p>
  </main>
</body>
{{ template "footer" }}
{{ end }}
