{{ define "dachi_archives" }}
{{ template "header" }}
  <!-- <main role="main" class="inner cover">
    {{ range . }}
        <div class="alert alert-danger">
            <h2>{{ .Title }}</h2>
            <p>{{ .Anons }}</p>
            <a href="/post/{{ .Id }}" class="btn btn-danger">Читать далее...</a>
        </div>
    {{ else }}
        <p class="lead">Статей нет!</p>
    {{ end }}
  </main>
</body> -->

<div class="jumbotron text-center">
  <h1>Archives</h1>
  <p>Some funny bullshit we share as a bunch of jer*s</p>
</div>

  {{ range . }}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <div class="alert alert-danger">
          <h2>{{ .Title }}</h2>
          <!-- <p>{{ .Anons }}</p> -->
          <a href="/post/{{ .Id }}" class="btn btn-danger">Читать далее...</a>
      </div>
    </div>
  </div>
</div>
  {{ end }}

</main>
</body>

{{ template "footer" }}
{{ end }}
