{{ define "dachi_archives" }}
{{ template "header" }}
  <!-- <main role="main" class="inner cover">
    {{ range . }}
        <div class="alert alert-danger">
            <h2>{{ .Title }}</h2>
            <p>{{ .Anons }}</p>
            <a href="/post/{{ .Id }}" class="btn btn-danger">Читать далее...</a>
        </div>
    {{ else }}
        <p class="lead">Статей нет!</p>
    {{ end }}
  </main>
</body> -->

<div class="jumbotron text-center">
  <h1>In memoriam</h1>
  <p></p>
</div>

  {{ range . }}
<div class="container-fluid">
      <div class="row">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">{{ .Title }}</h4>
          </div>
          <div class="card-body">
            <!-- <h1 class="card-title pricing-card-title">$0<small class="text-muted fw-light">/mo</small></h1> -->
            <ul class="list-unstyled mt-3 mb-4">
              <p>{{ .Anons }}</p>
            </ul>
            <a href="/post/{{ .Id }}" class="btn btn-danger">Читать далее...</a>
            <!-- <ul class="pager">
              <li class="previous"><a href="/post/{{ .Id - 1 }}">Previous</a></li>
              <li class="next"><a href="/post/{{ .Id + 1 }}">Next</a></li>
            </ul> -->
          </div>
        </div>
      </div>
  {{ end }}
  <!-- {{ range . }}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <div class="alert alert-danger">
          <h2>{{ .Title }}</h2>
          <!-- <p>{{ .Anons }}</p> -->
          <!-- <a href="/post/{{ .Id }}" class="btn btn-danger">Читать далее...</a>
      </div>
    </div>
  </div>
</div>
  {{ end }} --> -->

</main>
</body>

{{ template "footer" }}
{{ end }}
