<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>heykamikaze</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://getbootstrap.com/docs/5.2/examples/cover/cover.css">
</head>
<body>
  <!-- <h1>Main Page</h1>

  {{ if lt .Age 20}}
  <span> Will is missing </span>
  {{ else }}
  <span> Where is Will Byers? </span>
  {{ end }}

  <ul>
    {{ range .Skills }}
      <li><b>{{ . }}</b></li>
    {{ end }}
  </ul>

  <p>User: {{ .Name }}</p>
  <p>Age: {{ .Age }}</p>
  <p>Trust level: {{ .Trust_lvl }}</p>
  <p>Grade: {{ .Avg_g }}</p>
  <p>Happiness level: {{ .Hpnss }}</p> -->
  <body class="d-flex h-100 text-center text-white bg-dark">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masterhead mb-auto">
    <div class="inner">
      <!-- <h3 class="masterhead-brand">Get the fuck outta here</h3> -->
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link fw-bold active" aria-current="page" href="#">Main </a>
        <a class="nav-link fw-bold" href="#">About</a>
        <a class="nav-link fw-bold" href="/contacts/">Contacts</a>
        <a class="nav-link fw-bold" href="#">Disgusting Jokes Club</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading"></h1>
    <h1 class="cover-heading">I've been waiting for you, Hashirama!</h1>
    <p class="lead">User: {{ .Name }}<br>Age: {{ .Age }}<br>Trust level: {{ .Trust_lvl }} </p>
    <p class="lead">Jutsu:</p>

    <!-- {{ if lt .Age 20}}
    <p class:="lead"><b>Will is missing </b></p>
    {{ else }}
    <p class:="lead"><b>Where is Will Byers? </b></p>
    {{ end }} -->

    {{ range .Skills }}
      <p class:="lead"><b>{{ . }}</b></p>
    {{ end }}


    <p class="lead">
  </main>

  <footer class="mt-auto text-white-50">
    <p class:="lead"><b>(Uchiha Itachi <3)</b></p>
  </footer>
</div>





</body>
</html>
