{{ define "passfail" }}
{{ template "header" }}
  <main role="main" class="inner cover">
    <h1 class="cover-heading"></h1>
    <h1 class="cover-heading">Get the fuck outta here</h1>
    <!-- <p><img src="https://tntmusic.ru/media/content/article/2019-04-03_07-45-28__73206a28-55e4-11e9-8d4b-53a7ec95414a.jpg" alt="fuckoff"></p> -->
<div style="text-align: center;"><img src="https://tntmusic.ru/media/content/article/2019-04-03_07-45-28__73206a28-55e4-11e9-8d4b-53a7ec95414a.jpg" width="100%"></div>
    <p class="lead">Раньше говорили: "Я бы с ним в разведку не пошел"
    я б с тобой в тур не поехал, ты проверку не прошел</p>

      <p class:="lead">
        <a href="/" class="btn btn-lg btn-secondary">Кет котагымды жемей((</a>
    </p>
  </main>
</body>
{{ template "footer" }}
{{ end }}
